{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('../front/Css/Registration.css') }}" />

{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <section>
        <article class="login-logout">
            <div class="col-lg-6">
    {{ form_start(registrationForm) }}
                <div class="form-row form-group">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-row form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                <div class="form-row form-group">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <div class="from-row from-group test">
                    <button type="submit" class="bouttoninscription">Inscription</button>
                </div>
    {{ form_end(registrationForm) }}
            </div>
        </article>
    </section>
{% endblock %}
