{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('../front/Css/Annonces.css') }}"/>
{% endblock %}
{% block title %}Edition Annonces{% endblock %}

{% block body %}
    <h1>Edition Annonces</h1>

    {{ include('annonces/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annonces_index') }}">retour sur la liste</a>

    {{ include('annonces/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>

{% endblock %}
