{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1>Articles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_article</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.categorie }}</td>
                <td>{{ article.prix }}</td>
                <std> <img src="{{ asset('front/Img/Upload/' ~ article.image) }}" alt="Image" width="150" height="150"></std>

                <td>
                    <a href="{{ path('articles_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('articles_new') }}">Create new</a>
{% endblock %}
